body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

header {
    position: fixed;
    display: flex;
    width: 100%;
    height: 80px;
    background: #339af0;
    z-index: 1;
}

h1 {
    margin-left: 5px;
}

button {
    outline: none;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

section {
    display: grid;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 20px;
    background-color: #e7f5ff;
}

.logo, .logo-404, .cart {
    display: flex;
    flex-grow: 1;
}

.logo {
    justify-content: flex-start;
}

.logo-404 {
    justify-content: center;
}

.cart {
    justify-content: flex-end;
}

.logo a, .logo-404 a, .cart button {
    display: flex;
    align-items: center;
    color: white;
}

.logo a, .logo-404 a {
    justify-content: flex-start;
    text-decoration: none;
}

.logo a img, .logo-404 a img {
    width: 32px;
    height: 32px;
}

.cart button {
    justify-content: flex-end;
    background: none;
}

.cart button img {
    width: 48px;
    height: 48px;
}

.cart-disable button {
    cursor: not-allowed;
}

.logo a, .logo-404 a, .cart-enable button,
.course button, .link, .modal-buttons button {
    transition: all 300ms;
    cursor: pointer;
}

.logo a:hover, .logo-404 a:hover, .cart-enable button:hover,
.course button:hover,.link:hover, .modal-buttons button:hover {
    transform: scale(1.1);
}

.cart button:hover strong {
    background: red;
}

.cart button strong {
    padding: 10px;
    border-radius: 20px;
    background: #fa4659;
}

.message {
    margin-top: 0;
    padding-top: 90px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    color: #444;
}

.link {
    text-align: center;
}

.link:hover a {
    background: #5b73a7;
}

.link a {
    width: 80px;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    color: white;
    background: #5a96bb;
}

.progress-bar {
    padding-top: 90px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.course {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 10px #a5d8ff;;
    background: white;
    border-radius: 15px;
    color: #444;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
}

.data {
    text-align: center;
}

.course img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    filter: saturate(200%);
    z-index: 0;
    box-shadow: 0px 4px 20px #dee2e6;
}

.course ul {
    list-style: none;
    padding: 0;
}

.course ul li, .course p {
    padding: 3px;
    font-size: 17px;
}

.course button {
    width: 120px;
    padding: 15px;
    color: #fff;
    font-size: 15px;
}

.add {
    background: #44c662;
}

.remove {
    background:#fa4659;
}

.add:hover {
    background: green;
}

.remove:hover {
    background: red;
}

@media (max-width: 219px) {
    .logo-404 h1 {
        display: none;
    }

    .progress-bar img {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 249px) {
    .logo {
        display: none !important;
    }

    header .cart {
        justify-content: center !important;
        margin-left: 65px !important;
        padding-right: 0px !important;
    }
}

@media (max-width: 409px) {
    .logo h1 {
        display: none;
    }
}

@media (max-width: 575px) {
    .logo {
        padding-left: 30px !important;
    }

    .cart {
        padding-right: 30px !important;
    }

    section {
        grid-template-columns: 1fr !important;
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
}

@media (min-width: 576px) {
    .logo {
        padding-left: 60px !important;
    }

    .cart {
        padding-right: 60px !important;
    }

    section {
        padding-left: 30px !important;
        padding-right: 30px !important;
    }
}

@media (min-width: 576px) and (max-width: 991px) {
    section {
        grid-template-columns: repeat(auto-fill, 47%) !important;
    }
}

@media (min-width: 992px)  and (max-width: 1199px) {
    section {
        grid-template-columns: repeat(auto-fill, 31%) !important;
    }
}

@media (min-width: 1200px) {
    section {
        grid-template-columns: repeat(auto-fill, 23%) !important;
    }
}

.modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    padding-top: 80px;
    color: #444;
}

.modal-content {
    background: #f4f4f4;
    margin: 0 auto;
    width: 80%;
}

.modal-close {
    font-size: 20px;
    font-weight: bold;
    text-align: end;
    padding: 15px;
    margin-bottom: -40px;
    cursor: pointer;
}

.modal-close:hover {
    color: #f44336;
}

.modal-container {
    padding: 15px;
    text-align: center;
}

.modal-container img {
    width: 64px;
    height: 64px;
}

.modal-buttons {
    display: flex;
}

.modal-cancel, .modal-pay {
    margin: 15px;
    padding: 15px;
    width: 50%;
    opacity: 0.9;
}

.modal-cancel:hover, .modal-pay:hover {
    opacity:1;
}

.modal-cancel {
    justify-content: flex-start;
    background: #ccc;
    color: black;
}

.modal-pay {
    justify-content: flex-end;
    background: #f44336;
    color: white;
}

@media screen and (max-width: 299px) {
    .modal-buttons {
        display: block;
    }

    .modal-cancel, .modal-pay {
        justify-content: initial;
        margin: 0;
        margin-top: 5px;
        margin-bottom: 5px;
        width: 100%;
    }
}